#SignUp {
  @include page;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  #form-field {
    display: flex;
    width: 100%;
    padding: 64px 0;
    label {
      font-family: 'Poppins', sans-serif;
      padding-right: 32px;
      color: #4a4a4a;
    }
    input {
      font-family: 'Montserrat', sans-serif;
      border: none;
      border-bottom: 1px solid #b4b4b4;
      width: 100%;
    }
  }
}
