#CreateRequest {
  @include page;

  #title {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 2px var(--se-black-transparent);
    padding: 16px 12px;
    margin: 16px 0;
  }
  #description {
    width: 100%;
    border: none;
    border-radius: 5px;
    resize: none;
    box-shadow: inset 2px 2px 2px 2px var(--se-black-transparent);
    padding: 16px 12px;
    margin-bottom: 16px;
  }

  button {
    border-radius: 45px;
    color: white;
    border: none;
    background-color: #4ea528;
  }
}
