#Help {
  a {
    color: var(--se-blue-primary);
    text-decoration: underline;
  }
  textarea {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
    background: none;
    height: 100%;
    position: relative;
    border: 0;
    border-radius: 8px;
    background: var(--se-white);
    padding: 16px 8px 16px 12px;
    font-size: 18px;
    font-weight: 600;
    color: var(--se-black);
    width: 100%;
    z-index: 1;
    transition: border 0.1s ease;
    -webkit-appearance: none;
  }
}
