#requests-container {
  height: max(100%, 100vw);
  overflow: auto;
}

#request-container {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 5px;

  a {
    text-decoration: none;
  }
}
