#Requests {
  .Request {
    background: #efefefbb;
    margin-bottom: 12px;
    padding: 16px 12px;
    border-radius: 8px;

    .Request-description,
    .Request-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .Request-school,
    .Request-location {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 12px;
      margin-right: 12px;
    }
  }

  .Requests-plus{
    color: #4ea528;
  }
}
