#Header {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  z-index: 1;
  color: #4a4a4a;
  background: linear-gradient(
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  @include mobile {
    padding: 0 16px;
  }

  .se-button.size-medium {
    border-radius: 0;
  }

  img {
    width: 24px;
  }

  a {
    text-decoration: none;
  }

  .secondary-header {
    font-size: 24px;
    @include mobile {
      font-size: 20px;
    }
  }
}

#green {
  color: #4ea528;
}
