#CreateProfile {
  #CreateProfile-photo {
    position: relative;

    #CreateProfile-curr-photo {
      height: 150px;
      width: 150px;
      object-fit: cover;
      border-radius: 50%;
    }

    #CreateProfile-edit-photo {
      position: absolute;
      padding: 12px;
      border-radius: 50%;
      height: 48px;
      width: 48px;
      bottom: 0;
      left: calc(50% + 32px);
      border: 2px solid var(--se-white);
      background: var(--se-green-primary);
      color: var(--se-white);
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  .profile-creation-form-field {
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
    align-items: flex-start;
    text-align: end;

    .se-flex-container {
      margin-top: -8px;
      width: 64%;

      .se-button {
        flex-grow: 1;
        margin: 0 4px;
      }
    }

    input {
      width: 64%;
      font-size: 16px;
    }

    textarea {
      resize: none;
      width: 70%;
    }
  }
}
