#Login {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  #form-field {
    display: flex;
    width: 100%;
    padding: 64px 0;
    label {
      font-family: 'Poppins', sans-serif;
      padding-right: 32px;
      color: #4a4a4a;
    }
    input {
      font-family: 'Montserrat', sans-serif;
      border: none;
      border-bottom: 1px solid #b4b4b4;
      width: 100%;
    }
  }

  button {
    font-family: 'Montserrat', sans-serif;
    width: 90vw;
    border-radius: 45px;
    color: white;
    border: none;
    background-color: #27aa9f; // for good accent
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
  h1 {
    padding-top: 64px;
    color: #4a4a4a; // se-grey
  }
  p {
    color: #b4b4b4; // grey
    margin-top: 0;
  }
  aside {
    color: #4a4a4a; // se-grey
  }
}

#Login-Confirmation {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h1 {
    // padding-bottom: 64px;
    font-size: 3rem;
    color: #4a4a4a; // se-grey
  }

  p {
    position: absolute;
    bottom: 32px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}
